body html {
    height: 100%
}

.jumbotron {
    position: relative;
    height: 115vh;
    background-image: url('../images/robert-bye-200735-unsplash.jpg');
    background-size: cover;
    color: whitesmoke;
}

.jumbotron h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 108px;
    padding: 1vw 1vh;
}

#lead {
    font-family: 'Shadows Into Light', cursive;
    font-size: 36px;
}

.jumbotron a {
    font-family: 'Shadows Into Light', cursive;

}

.parralax {
    height: 500px;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


