:root {
    --lime: #C3E42E;
    --aqua:  #2EE4DD;
    --deeppurple: #3A034D;
    --neonyellow:  #FFFE00;
    --scarlet: #E92401;
    --gray: #BBBBBB;
    --forest: #137006;
    --floridaskin: #F58500;

    --cartoonFont: 'Shadows Into Light', cursive;
    --mainFont: 'Coda', cursive;
    --textFont: 'Delius', cursive;
}
 